.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  background-color: #1f1f1f;
  box-sizing: border-box;
}
.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}
.logo {
  background-size: contain;
}
.logo_place_footer {
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
}
.footer__author {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding: 18px 0 18px;
}
.footer__column_content_info {
  margin: 0 auto;

}
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  z-index: 1;
}
.footer__column_content_social {
  align-items: flex-start;
}
.footer__social-icon {
  margin: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
